/* https://levelup.gitconnected.com/how-to-make-a-go-board-with-css-ac4cba7d0b72 */
div.board
{
    display: grid;
    width: 80vh;
    height: 80vh;
    grid-template-rows: repeat(8, 10vh);
    grid-template-columns: repeat(8, 10vh);
}

div.cell
{
}

.blackPiece::after, .whitePiece::after
{
  border-radius: 50%;
  width: 80%;
  height: 80%;
  display:inline-block;
  position: relative;
  content: "";
  left: 10%;
  top: 10%;
}

div.blackPiece.selected::after
{
  background-color: #ff0000;
}

div.whitePiece.selected::after
{
  background-color: #ff0000;
}

.blackPiece::after
{
  background-color: black;
}

.whitePiece::after
{
  background-color: white;
}

div.whitePiece
{
    background-image: '..img/white_piece.png'
}

div.blackCell
{
  background-color: #995533
}

div.whiteCell
{
  background-color: #ffddaa
}
